<header>
  <div class="header">
    <nav aria-label="primária">
      <ul class="header-menu">
        <li>
          <a href="/">
            <img src="../../../../assets/images/icons/Casa.svg" alt="User" />
          </a>
        </li>
        <li>
          <a href="/">
            <img
              src="../../../../assets/images/icons/Mensagens.svg"
              alt="User"
            />
          </a>
        </li>
      </ul>
    </nav>

    <a href="./">
      <img src="../../../../assets/images/icons/Usuário.svg" alt="User" />
    </a>
  </div>
</header>
