$azul: #3772ff;
$verde: #36d6ad;
$coral: #fc7071;
$coral2: #ff9d9e;
$creme: #fcf0e3;
$cinza: #fcf0e3;
$cinza-claro: #bcbcbc;
$cinza-escuro: #737380;
$cinza-fundos: #f6f6f6;
$branco: #ffffff;

.cor-azul {
  color: $azul;
}

.cor-verde {
  color: $verde;
}

.cor-coral {
  color: $coral;
}

.cor-coral2 {
  color: $coral2;
}

.cor-creme {
  color: $creme;
}

.cor-cinza {
  color: $cinza;
}

.cor-cinza-escuro {
  color: $cinza-escuro;
}

.cor-cinza-claro {
  color: $cinza-claro;
}

.cor-cinza-fundos {
  color: $cinza-fundos;
}

.cor-branco {
  color: $branco;
}

.cor-coral {
  color: $coral;
}
