.font-1-p {
  font: 400 1rem/1.5 "Poppins", sans-serif;
}

.font-1-pp {
  font: 400 1rem/1.15 "Poppins", sans-serif;
}

.font-1-h1 {
  font: 500 4.25rem/1.125 "Poppins", sans-serif;
}

.font-1-h4 {
  font: 600 1rem/1.15 "Poppins", sans-serif;
}

.font-1-h2 {
  font: 500 2rem/1.15 "Poppins", sans-serif;
}

.font-1-leg {
  font: 400 0.75rem/1.33 "Poppins", sans-serif;
}

.font-1-butt {
  font: 700 1.125rem/1.33 "Poppins", sans-serif;
}

.font-2-butt {
  font: 500 0rem/1.5 "IBM Plex Sans", sans-serif;
}

.font-2-h3 {
  font: 500 1.625rem/1.85 "IBM Plex Sans", sans-serif;
}
