.input-1 {
  margin-bottom: 1.25rem;
  position: relative;

  label {
    padding: 0.312rem;
    margin-bottom: 0.25rem;
  }

  input {
    background: $cinza-fundos;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 0.375rem;
    border: 0px;
    height: 2.5rem;
    min-width: 19.5rem;
    display: flex;
    align-items: center;
    text-align: center;
  }

  input:focus {
    outline: none;
    border: 2px solid $cinza-escuro;
  }
}

input[type="password"] + img {
  position: absolute;
  top: 45px;
  left: 90%;
}

::placeholder {
  color: $cinza-claro;
  font: 400 0.75rem/1.33 "Poppins", sans-serif;
}
