<main class="cadastro">
  <img
    class="cadastro__img-pata"
    src="../../../../assets/images/imgs/Patas.svg"
    alt=""
  />
  <div class="cadastro__content">
    <img
      class="cadastro__logo"
      src="../../../../assets/images/logos/LogoAzul.svg"
      alt=""
    />

    <p class="font-1-p cor-azul">
      Ainda não tem cadastro? <br /><br />
      Então, antes de buscar seu melhor amigo, precisamos de alguns dados:
    </p>

    <form action="">
      <div class="input-1">
        <label for="email" class="font-1-pp cor-cinza-escuro">Email</label>
        <input
          type="email"
          name="email"
          placeholder="Escolha seu melhor email"
        />
      </div>

      <div class="input-1">
        <label for="nome" class="font-1-pp cor-cinza-escuro">Nome</label>
        <input type="text" name="nome" placeholder="Digite seu nome completo" />
      </div>

      <div class="input-1">
        <label for="senha" class="font-1-pp cor-cinza-escuro">Senha</label>
        <input
          type="password"
          name="senha"
          placeholder="Crie uma senha"
          autocomplete="current-password"
          aria-required="true"
          maxlength="15"
        />
        <img
          class="img-input"
          src="../../../../assets/images/icons/OlhoFechado.svg"
          alt=""
        />
      </div>

      <div class="input-1">
        <label for="confirmarSenha" class="font-1-pp cor-cinza-escuro"
          >Confirma sua senha</label
        >
        <input
          type="password"
          name="confirmarSenha"
          placeholder="Repita a senha criada acima"
          autocomplete="current-password"
          aria-required="true"
          maxlength="15"
        />
        <img
          class="img-input"
          src="../../../../assets/images/icons/OlhoFechado.svg"
          alt=""
        />
      </div>
    </form>

    <button class="btn btn-primary">Cadastrar</button>

    <img
      class="cadastro__img"
      src="../../../../assets/images/formas/Forma2.svg"
      alt=""
    />
  </div>
</main>
