<main class="inicial">
  <div class="inicial__content">
    <img
      class="inicial__logo"
      src="../../../../assets/images/logos/Logo.svg"
      alt=""
    />
    <h1 class="font-2-h3 cor-branco">Boas Vindas!</h1>
    <p class="font-1-p cor-branco">
      Que tal mudar sua vida adotando seu novo melhor amigo? Vem com a gente!
    </p>
    <button class="btn btn-primary">Já tenho conta</button>
    <button class="btn btn-primary" (click)="cadastrar()">
      Quero me cadastrar
    </button>
    <img
      class="inicial__ilustration"
      src="../../../../assets/images/imgs/Ilustração 1.svg"
      alt="Ilustração"
    />
    <img
      class="inicial__img"
      src="../../../../assets/images/formas/Forma2.svg"
      alt=""
    />
  </div>
</main>
